@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&family=Open+Sans:wght@700&family=Roboto+Mono:wght@100;200;300&display=swap');


body{
  font-family: 'Roboto Mono', monospace;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23EEEEEA' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23E2EAD4'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #dbd9d9;
  font-size: 18px;
  padding: 30px;
  text-align: center;
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #131212;
  text-align: center;
}
h2{
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  font-weight: bold;
  color: #131212;
  text-align: center;
}
h3{
  font-family: "Roboto mono", monospace;
  font-weight: 300;
  font-size: 18;
  font-weight: bold;
  color: #131212;
  text-align: center;
  letter-spacing: 1px;
  line-height:26px;
  }
p{
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 200px;
  font-weight: bold;
  color: #131212;
  text-align: center;
}

#profile-pic {
  width, height: 200px;
  border-radius:50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

li {
  display: inline;
}
ul {
  padding: 0;
}

a{
  text-decoration: none;
  color: #636262;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease;
  padding: 0px;
  width: px;
  margin: 10px auto;
}

.button-54 {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #131212;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px auto;
 }

.button-54:hover {
  color: #520a0a;
}

.container {
  background-color: #F9F9F9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding:30px;
  width: 600px;
  margin: 25px auto;
  border-radius: 20px;
  }
    
  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }

  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }

  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }
